/**
 * SplitPane example style
 * @author ludafa <ludafa@outlook.com>
 */

@require 'nib'

global-reset()

@require 'melon/css/theme/default/index.styl';

html,
body,
#app
    height: 100%

@require '../src/SplitPane.styl';
