/**
 * SplitPane example style
 * @author ludafa <ludafa@outlook.com>
 */

@require 'nib'

global-reset()

@require 'melon/css/theme/default/index.styl';

html,
body,
#app
    height: 100%;

// .ui-pane
//     display: flex
//     justify-content: center
//     align-items: center
//     font-size: 2rem

// .ui-pane:nth-child(1)
//     color: #fff
//     background-color: rgb(0, 159, 147)
//
// .ui-pane:last-child
//     color: #fff
//     background-color: rgb(0, 159, 147)


@require '../src/SplitPane.styl';
