/**
 * @file SplitPane
 * @author ludafa<ludafa@outlook.com>
 */

@require 'melon/css/base.styl'

.{$-melon-class-prefix}-split-pane
    display: flex
    justify-content: space-between
    align-items: stretch
    flex-wrap: nowrap

    &.variant-horizontal
        flex-direction: row

    &.variant-vertical
        flex-direction: column

    &.state-resizing
        user-select: none

@require './Pane.styl'
@require './Spliter.styl'
